<h1>Tecnogirau</h1>

<div class="menu">
<a href="/">Ir al home</a>
<a href="/realTimeProducts">Ir a productos en tiempo real</a>
</div>

<h2>Nuestros productos</h2>
{{#if products.length}}
  <section class="productsContainer">
    {{#each products}}
      <div class="productsCard">
        <h3>Nombre: {{title}}</h3>
        <h4>Precio:{{price}}</h4>
        <img src="{{thumbnail}}" /></div>
    {{/each}}
  </section>
{{else}}
  <h3>No hay productos agregados!</h3>
{{/if}}

